/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root {
  /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
  /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
  --cor-de-fundo: #f5f5f5;
  --cor-de-link: #000;
  --cor-de-titulo: #464646;
  --cor-de-secundo-fundo: #eaf2fd;
  --azul-100: #2a7ae4;
}

body {
  box-sizing: border-box;
  background-color: var(--cor-de-fundo);
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1;
}
ol,
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--cor-de-link);
}

.subtitle {
  font-size: 32px;
  color: var(--cor-de-titulo);
}

.pcontent {
  color: var(--cor-de-titulo);
  font-size: 1rem;
  font-weight: 300;
}

.experience__title {
  font-size: 22px;
  color: var(--cor-de-titulo);
}

.experience__text {
  font-size: 16px;
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sección Menu*/

.menu__header {
  margin-right: 2%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menu__list__item__contato {
  display: none;
}

.menu__title {
  font-size: 16px;
  display: inline;
}

.menu__stars {
  max-height: 50%;
  max-width: 50%;
  margin: 0 1.5rem;
}

section.menu {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.nav__list {
  padding-right: 3%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-style: "Raleway";
  font-size: 14px;
}
.menu__list {
  display: flex;
}

.menu__list__item {
  margin: 0 1.5rem;
}

#sobre-mi {
  background-color: var(--cor-de-secundo-fundo);
}

#signature {
  max-width: 100px;
  max-height: 50px;
}

/*Sección Title*/

section.title {
}

.title {
  font-family: "Raleway";
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.title__bio {
  color: var(--cor-de-titulo);
  font-size: 2.3rem;
  margin-bottom: 1rem;
}

.title__subsection {
  color: var(--cor-de-titulo);
  font-size: 1rem;
  font-weight: 300;
  padding-right: 2rem;
}

.title__container {
  display: flex;
  flex-direction: column;
  padding: 0 0 5% 0;
}

.title__div {
  display: flex;
  flex-direction: row-reverse;
  width: 85%;
  justify-content: space-around;
  align-items: center;
}

.title__network {
  display: flex;
}

.title__network__item {
  margin-left: 1.5rem;
}

.title__profile {
  max-width: 40vw;
  max-height: 45vh;
  padding: 0 5% 5% 10%;
}

/*Sección About*/

section.about {
  padding: 2rem 10%;
}

.about__container {
  max-width: 60%;
}

.about__title {
  font-weight: 700;
  font-size: 32px;
  color: var(--cor-de-titulo);
}

/*Sección Skills y Hobbies*/

section.skills,
section.hobbies {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.skills__line,
.hobbies__line {
  display: flex;
  padding: 1% 5%;
}

.skills__box,
.hobbies__box {
  display: flex;
  margin: 0 1%;
  width: 30%;
  height: 150px;
  justify-content: flex-start;
  align-items: flex-end;
  background-color: #ffffff;
}

.skills__img > img {
  height: 32px;
  width: 32px;
}


.ul__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 10%;
  width: 100%;
  align-items: flex-start;
}

/* Experiencia Académica*/

section.academic {
  background: var(--cor-de-secundo-fundo);
}

.experience__title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.academic__title {
  padding-top: 2%;
  text-align: center;
}

.academic__courses {
  margin-left: 5%;
  display: flex;
  justify-content: center;
  width: auto;
  padding: 0 10%;
}

.academic__courses__box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.academic__courses__img {
  width: 190px;
  height: auto;
}

.academic__courses__item__img {
  background-color: #ffffff;
  width: 192px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.academic__courses__list {
  width: 80%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.img__container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 20% 10%;
  width: 100%;
}
/* experiencia*/

section.experience {
}

.experience__section__title {
  text-align: center;
}

.experience__box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2%;
}

.experience__box:nth-child(2n) {
  flex-direction: row-reverse;
}

.experience__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.experience__title {
  font-size: 22px;
  color: var(--cor-de-titulo);
  font-weight: 700;
}

.experience__text {
  font-size: 16px;
  font-weight: 300;
}

.experience1 {
  padding-right: 10%;
}

.experience2 {
  padding-left: 10%;
}

.experience__img {
  width: 60%;
  
}

.experience2__img {
  width: 60%;
  margin-right: 5%;
  
}

.experiencia__botao--repo {
  padding: 16px;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid var(--azul-100, #2A7AE4);
  color: var(--azul-100);
}

.experience__botao--demo, .formcontato__botao {
  padding: 16px;
  font-size: 16px;
  font-weight: 400;
  border: 0;
  color: #ffffff;
  background: var(--azul-100, #2A7AE4);
  border: 1px solid var(--azul-100, #2A7AE4);
}

.experience__description {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
/*Contacto*/

section.formcontato {
  background: var(--cor-de-secundo-fundo);
  padding: 0 10%;
  display:flex;
  padding: 5%;
}

.formcontato__contacto{
  display: flex;

}

.formcontato__form {
  display: flex;
  flex-direction: column;
}

.formcontato__text {
  padding: 0 5%;  
}


.formcontato__input {
    width: 100%;
    outline: none;
    font-size: 32px;
    padding: 0 15px;
    border: 1px solid #999;
    margin: 2% 0;
}

.formcontato__textarea {
  width: 100%;
  outline: none;
  font-size: 32px;
  padding: 0 15px;
  border: 1px solid #999;
}

.formcontato__title {
  margin-top: 0;
}

.formcontato__botao {
  width: 40%;
}

.error {
  color: red;
  align-items: center;
  display: none;
  margin-bottom: 2%;
}

.bx-error-circle {
  padding-left: 2%;
}

.error-text {
  padding-left: 2%;
}

.form .invalid {
  display:flex;
  flex-direction: row-reverse;
}

.form__div .invalid {
  border: 1px solid red
}

.error-text {
  padding-left: 2%;
  margin: 0;
}

/*footeer*/

.footer__rodape {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__img {
  height: 20%;
  width: 8%;
}

.final {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vh
}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */

/*Tablet*/
@media (max-width: 768px) {
  
  .subtitle {
    font-size: 22px;
    color: var(--cor-de-titulo);
  }
  
  /* Menú */
  
  section.menu {
    padding: 0;
    padding-bottom: 2%;
  }

  .menu__stars {
    width: 6vw;
    height: 6vh;
  }
  .menu__list {
    display: none;
  }

  .menu__list__item__contato {
    display: block;
  }

  /*title*/

  .title__bio {
    font-size: 1.4rem;
  }

  .title__subsection {
    font-size: 0.8rem;
  }

  .title__profile {
    max-width: 20vw;
    max-height: 27vh;
  }

  .title__network {
    padding-left: 0;
  }

  section.about {
    padding: 0.5% 8.0% 2% 8%;
  }

  .about__container {
    max-width: 100%;
  }

  .about__title {
    font-size: 22px;
  }
  
  .about__paragraph {
    font-size: 12px;
  }

  /*Skills*/

  .skills__line, .hobbies__line {
    display: flex;
    padding: 1%  0 1% 5% ;
    flex-wrap: wrap;
    gap: 20px;
  }

  .skills__box, .hobbies__box {
    margin: 0;
  }

  /*Hobbies*/

  /*Formación Académica*/

  .academic__courses {
    gap: 40px;
  }

  .academic__courses__item__img *{
    width: 10vw;
  }

  .academic__courses__item__img {
    width: auto;
    height: auto;
  }

  .img__container {
    width: 25vw;
    height: 12vh;
  }

  .academic__courses__item__title {
    font-size: 13px;
  }

  .academic__courses__item__subtitle {
    font-size: 12px;
  }

  /*Experiencia Profesional*/

  .experience__box:nth-child(2n) {
    flex-direction: column;
  }

  .experience__img {
    margin: 0;
    padding: 0;
    width: 90%;
    padding: 2% 5%;
  }
  
  .experience__title {
    margin: 0;
    font-size: 16px;
  }

  .experience__text {
    font-size: 14px;
  }

  .experience__info-container {
    padding: 0;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .experience__box {
    margin: 2%;
    flex-direction: column;
    justify-content: flex-start;
  }

  /*Contacto*/
  .formcontato__img {
    display: none;
  }
}

/*Mobile*/
@media (max-width: 425px) {
  /*Menu*/

  .menu__stars {
    max-width: 10vw;
    max-height: 8hv;
    margin: 0.5rem;
  }

  .menu__title {
    font-size: 16px;
  }
  

  /*Titulo*/

  .title__image {
    width: 100%;
  }

  .title__profile {
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 27vw;
    max-height: 27vw;
    padding-bottom: 2vh;
  }

  .title__div {
    flex-direction: column;
    justify-content: flex-start;
  }

  .title__bio {
    margin: 0;
  }

  .title__network__item {
    margin: 0;
    font-size: 14px;
  }

  .title__network {
    justify-content: space-around;
    align-items: center;
  }

  /*Sección sobre mi*/

  #sobre-mi {
    padding: 2% 8% 5% 8%;
  }

  /*Skills*/

  .skills__box, .hobbies__box {
    width: 45%;
  }

  /*Hobbies*/

  .hobbies__line {
    padding-bottom: 4vh;

  }

  /*Formación Académica*/

  .academic__title {
    padding: 4vh 0 2vh 0;
    margin: 0;
  }
  
  .academic__courses {
    flex-direction: column;
    gap: 0px;
  }

  .academic__courses__box {
    padding-left: 7%;
  }

  .img__container {
    width: 100%;
  }

  .academic__courses__item__img * {
    width: 25vw;
  }

  .academic__courses__item__title * {
    margin-bottom: 0;
  }

  /*Experiencia Profesional*/

  .experience__title {
    padding-top: 2vh;
  }

  .experiencia__botao--repo {
    font-size: 14px;
  }

  .experience__botao--demo {
    font-size: 14px;
  }

  .experience__box {
    padding-bottom: 2vh;
  }

  /*Contacto*/

  .experience__info-container {
    padding: 0;
    width: 90%;
  }

  .formcontato__title {
    margin: 0;
  }

  .formcontato__text {
    display: flex;
    flex-direction: column;
  }

  .form__div {
    width: 90%;
  }

  .form__textarea {
    width: 90%;
  }

  .form__button {
    width: 100%;
  } 
  

  /*Footer*/
}
